In [15]:
import pandas as pd

In [24]:
df = pd.read_csv('/Users/shesophast/GWC Projects/AnimeShowsDataCleaning/animeproject/animedata.csv')
df

         Anime Name     Genre   Episodes  Rating  Release Year
0            Naruto     Action     220.0     8.5          2002
1         One Piece  Adventure    1000.0     9.1          1999
2   Attack on Titan     Action      75.0     9.5          2013
3            Naruto     Action     220.0     8.5          2002
4  My Hero Academia     Action       NaN     7.8          2016
5   Hunter x Hunter  Adventure     148.0    10.0          2011
6         One Piece  Adventure    1000.0     9.1          1999
7    Jujutsu Kaisen     Action       1.0     9.5          2020

In [25]:
#Read all columns and check their names to avoid errors
df =pd.DataFrame(df)
df.head()
column_list = list(df.columns)
print(column_list)

['Anime Name', 'Genre ', 'Episodes', 'Rating', 'Release Year']

In [26]:
#Checking for any null values (lack of value in a column)
nullValues = df.isna().sum()
print(nullValues)

Anime Name      0
Genre           0
Episodes        1
Rating          0
Release Year    0
dtype: int64

In [27]:
#Deleting Null Data
df= df.dropna(subset=['Episodes'])
print(df)

        Anime Name     Genre   Episodes  Rating  Release Year
0           Naruto     Action     220.0     8.5          2002
1        One Piece  Adventure    1000.0     9.1          1999
2  Attack on Titan     Action      75.0     9.5          2013
3           Naruto     Action     220.0     8.5          2002
5  Hunter x Hunter  Adventure     148.0    10.0          2011
6        One Piece  Adventure    1000.0     9.1          1999
7   Jujutsu Kaisen     Action       1.0     9.5          2020

In [28]:
#Checking for Duplicates
animeName=df.duplicated('Anime Name')
print(animeName)

0    False
1    False
2    False
3     True
5    False
6     True
7    False
dtype: bool

In [29]:
#Deleting Duplicates
df = df.drop_duplicates('Anime Name')
print(df)

        Anime Name     Genre   Episodes  Rating  Release Year
0           Naruto     Action     220.0     8.5          2002
1        One Piece  Adventure    1000.0     9.1          1999
2  Attack on Titan     Action      75.0     9.5          2013
5  Hunter x Hunter  Adventure     148.0    10.0          2011
7   Jujutsu Kaisen     Action       1.0     9.5          2020

In [30]:
#Checking to see if Episode are less than 5
incompleteSeries= df[df['Episodes'] < 5].sum()
print(incompleteSeries)

Anime Name      Jujutsu Kaisen
Genre                   Action
Episodes                   1.0
Rating                     9.5
Release Year              2020
dtype: object

In [31]:
#Deleting incomplete series
df = df[df['Episodes'] >= 5]
print(df)

        Anime Name     Genre   Episodes  Rating  Release Year
0           Naruto     Action     220.0     8.5          2002
1        One Piece  Adventure    1000.0     9.1          1999
2  Attack on Titan     Action      75.0     9.5          2013
5  Hunter x Hunter  Adventure     148.0    10.0          2011

In [32]:
#Printing Clean Data
print("Clean Data")
print(df)

Clean Data
        Anime Name     Genre   Episodes  Rating  Release Year
0           Naruto     Action     220.0     8.5          2002
1        One Piece  Adventure    1000.0     9.1          1999
2  Attack on Titan     Action      75.0     9.5          2013
5  Hunter x Hunter  Adventure     148.0    10.0          2011